* {
    margin: 0px;
    padding: 0px;
}

/*Formatação Geral */
body {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background: #e6e6e6;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: rgb(8, 123, 255);
}

/*Formatação Menu */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(8, 123, 255);

   
}

a:hover {
    color: #ffffff;
    padding: 2px;
    background: rgb(8, 164, 255);
}

#cabecalho a:link, #cabecalho a:visited {
    color: #fff;
    padding: 8px 12px;
}

#cabecalho a:hover {
    color: #f7b600;
    padding: 10px;
    background: white;
}

#cabecalho {
    background-color: rgb(8, 123, 255);
    padding: 10px;
    text-align: center;
    
}

#arealogo, #menu {
    margin-bottom: 10px;

}

.branco {
    color: #e6e6e6;
}


#conteudo {
    padding: 20px;
    width: 920px;
    margin: auto;

}

.data-post {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}

#postagens, #area-lateral {
    background: white;
}

#postagens {
    width: 660px;
    float: left;

}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;

}



#area-lateral {
    width: 240px;
    float: right;

}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}












